@charset "UTF-8";
body { background: url("http://ipic.su/img/img7/fs/dendi(1).1572115548.png") no-repeat center top/100%; cursor: url("http://ipic.su/img/img7/fs/24150130.1572286078.jpg") 30 30, auto; height: 100vh; }

.plate { position: absolute; left: 50%; bottom: -10%; cursor: url("http://ipic.su/img/img7/fs/24150130.1572286078.jpg") 30 30, auto; -webkit-animation: move-plate 5s ease 3 forwards; animation: move-plate 5s ease 3 forwards; }

.plate:before { color: red; content: "ПЮЮЮЮ"; display: block; width: 65px; height: 65px; background-color: #fff; border-radius: 50%; -webkit-transform: translate(-50%, -50%) rotateX(45deg); transform: translate(-50%, -50%) rotateX(45deg); }

.plate:checked { opacity: 0; }

.plate-1 { -webkit-animation: move-plate-1 11s ease 3 forwards; animation: move-plate-1 11s ease 3 forwards; }

@-webkit-keyframes move-plate-1 { 0% { left: 50%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 40%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

@keyframes move-plate-1 { 0% { left: 50%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 40%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

.plate-2 { -webkit-animation: move-plate-2 13s 10s ease 3 forwards; animation: move-plate-2 13s 10s ease 3 forwards; }

@-webkit-keyframes move-plate-2 { 0% { left: 30%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 40%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

@keyframes move-plate-2 { 0% { left: 30%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 40%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

.plate-3 { -webkit-animation: move-plate-3 15s 15s ease 3 forwards; animation: move-plate-3 15s 15s ease 3 forwards; }

@-webkit-keyframes move-plate-3 { 0% { left: 45%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 60%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

@keyframes move-plate-3 { 0% { left: 45%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 60%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

.plate-4 { -webkit-animation: move-plate-4 17s 20s ease 3 forwards; animation: move-plate-4 17s 20s ease 3 forwards; }

@-webkit-keyframes move-plate-4 { 0% { left: 57%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 49%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

@keyframes move-plate-4 { 0% { left: 57%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 60%; }
  100% { left: 49%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

.plate-5 { -webkit-animation: move-plate-5 10s 25s ease 3 forwards; animation: move-plate-5 10s 25s ease 3 forwards; }

@-webkit-keyframes move-plate-5 { 0% { left: 80%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 50%; }
  100% { left: 90%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

@keyframes move-plate-5 { 0% { left: 80%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg);
            transform: translate(-50%, -50%) rotateX(45deg); }
  50% { bottom: 50%; }
  100% { left: 90%;
    bottom: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(45deg) scale(0);
            transform: translate(-50%, -50%) rotateX(45deg) scale(0); } }

.plate:checked { counter-increment: list; }

span { font-size: 25px; }

.score:after { content: counter(list); font-size: 25px; font-family: sans-serif; color: #00C853; }

.record { font-family: sans-serif; color: #eeff41; }

.total { font-family: sans-serif; color: #AA00FF; }
/*# sourceMappingURL=style.css.map */